.formcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full viewport height */
    padding: 20px;
    background-color: #f9f9f9; /* Light background color */
  }