.formcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full viewport height */
    padding: 20px;
    background-color: #d1d8e0; /* Light background color */
    font-size: 30px;
  }

  .cardform {
    display: flex;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  }
  .cardform label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .cardform select,
.cardform input {
  width: 100%;
  padding: 12px; /* Zwiększone padding */
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1.1rem; /* Większy rozmiar czcionki */
}

select {
    font-size: large;
}

input {
    font-size: large;
}

label {
    padding-top: 10px;
}

