/* reset.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}


.root {
    height: 100vh;
    background-color: #a55eea;
    display: flex;
    flex-direction: column;
}

/* Adjustments for mobile devices */
@media (max-width: 768px) {
    .container {
      padding: 10px;
    }
  }